<div class="relative w-full bg-white py-16">
  <div class="container">
    <h2 class="title">{{ .title }}</h2>
    <p class="subtitle">{{ .subtitle }}</p>

    <div
      class="absolute left-0 top-[25rem] h-[1px] w-full bg-[#E6E7EB] md:top-[22rem]"
    ></div>

    <div class="swiper3 relative mx-auto w-full overflow-hidden pt-5">
      <div class="swiper-wrapper">
        {{ range .content.steps }}
          <div class="swiper-slide px-5 lg:px-28">
            <div class="group flex flex-col items-center">
              <div
                class="rounded-full bg-[#F4EFFE] p-3 transition-all first:fill-purple-200 group-hover:bg-purple-200 group-hover:first:fill-white"
              >
                {{ with .image }}{{ partial . }}{{ end }}
              </div>
              <div class="mb-16 mt-1 h-6 w-6 rounded-full bg-green"></div>
              <div class="relative w-full">
                <div
                  class="flex w-11/12 -translate-y-3 translate-x-6 flex-col items-center rounded-2xl border border-[#D2F8E9] bg-white px-8 py-10 text-center shadow-[12px_13px_20px_-20px_rgba(25,36,66,0.2)] shadow-blue-200 transition-all group-hover:-translate-y-5 group-hover:translate-x-4"
                >
                  <h3 class="mx-3 mb-5 text-heading2 font-bold text-purple-200">
                    {{ .title_section }}
                  </h3>
                  <p class="mb-7 text-heading4 font-normal md:text-body-medium">
                    {{ .text }}
                  </p>
                  <a href="{{ .link }}" class="btn-secondary">Learn more</a>
                </div>
                <div
                  class="absolute right-0 top-0 -z-10 h-full w-11/12 overflow-hidden rounded-2xl bg-[url('/images/charte-bg.svg')] bg-cover bg-center bg-no-repeat"
                ></div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div
        class="swiper-button-next3 absolute end-0 top-[6.2rem] z-10 flex h-14 w-14 cursor-pointer items-center justify-center after:content-none md:top-[5.3rem]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59.662"
          height="59.662"
          viewBox="0 0 59.662 59.662"
        >
          <g transform="translate(1 0.662)">
            <circle cx="29" cy="29" r="29" fill="#fff" />
            <path
              d="M34.234,41.441l9.61-9.61m0,0-9.61-9.61m9.61,9.61H19.818m40.844,0A28.831,28.831,0,1,1,31.831,3,28.831,28.831,0,0,1,60.662,31.831Z"
              transform="translate(-3 -2.662)"
              fill="none"
              stroke="#8353f2"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </g>
        </svg>
      </div>
      <div
        class="swiper-button-prev3 absolute start-0 top-[6.2rem] z-10 flex h-14 w-14 cursor-pointer items-center justify-center after:content-none md:top-[5.3rem]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59.662"
          height="59.662"
          viewBox="0 0 59.662 59.662"
        >
          <g transform="translate(0.662 0.662)">
            <circle cx="29" cy="29" r="29" fill="#fff" />
            <path
              d="M29.428,41.441l-9.61-9.61m0,0,9.61-9.61m-9.61,9.61H43.844M3,31.831A28.831,28.831,0,1,0,31.831,3,28.831,28.831,0,0,0,3,31.831Z"
              transform="translate(-2.662 -2.662)"
              fill="none"
              stroke="#8353f2"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
