<div
  class="section flex min-h-[calc(100vh-144px)] w-full items-center bg-[#8353F216] py-16"
>
  <div class="container">
    <h2 class="title">{{ .title }}</h2>
    <p class="subtitle">{{ .subtitle }}</p>

    <div
      class="scroll-trigger relative flex h-[500px] flex-col items-stretch pt-5 md:flex-row"
    >
      <ul
        class="hidden pb-6 md:mb-0 md:flex md:w-1/12 md:flex-col md:gap-0 md:border-none"
      >
        {{ range .content.tabs }}
          <li
            class="slick-slide relative flex h-auto items-stretch md:h-1/4"
            data-slide="{{ .key }}"
          >
            <p
              class="slick-nav flex items-center text-heading2 font-bold text-purple-200"
            >
              {{ .title_tab }}
            </p>
          </li>
        {{ end }}
      </ul>
      <div class="relative hidden w-1/12 justify-center pb-6 md:flex">
        <div class="h-full w-[1px] bg-purple-200 opacity-20"></div>
      </div>
      <div class="w-full md:w-10/12">
        {{ range .content.tabs }}
          <div
            id="{{ .link_tab }}"
            class="absolute top-1/2 -translate-y-1/2"
            data-slide="{{ .key }}"
          >
            <div class="relative">
              {{ range .content_tab }}
                <div
                  class=" flex flex-col-reverse items-stretch justify-between gap-10 pb-6 md:flex-row"
                >
                  <div class="w-full md:w-7/12">
                    <h3
                      class="mb-7 text-heading1 font-bold leading-tight text-blue-200"
                    >
                      {{ .title_section }}
                    </h3>
                    <p class="purple mb-10 me-5 text-heading4 font-light">
                      {{ safeHTML .text }}
                    </p>
                    <a
                      href="{{ .link }}"
                      class="btn-primary inline-block rounded-md border-2 border-green px-8 py-3 text-heading3 text-green"
                      >Find out more</a
                    >
                  </div>
                  <div
                    class="mb-5 flex w-full justify-center md:mb-0 md:w-5/12"
                  >
                    <div class="relative w-fit">
                      {{ $image := resources.Get .image }}
                      {{ with $image }}
                        <img
                          src="{{ $image.RelPermalink }}"
                          width="{{ $image.Width }}"
                          height="{{ $image.Height }}"
                          class="h-full w-80 overflow-hidden rounded-2xl object-cover shadow-[9px_14px_15px_-10px_rgba(25,36,66,0.3)] shadow-blue-200"
                          alt=""
                        />
                      {{ end }}
                      <div
                        class="absolute left-0 top-0 h-full w-full rounded-2xl bg-gradient-to-br from-transparent to-purple-200"
                      >
                        <h4 class="caption text-heading1">
                          {{ safeHTML .caption }}
                        </h4>
                      </div>
                      <div
                        class="absolute right-0 top-0 -z-10 h-full w-full translate-x-6 translate-y-6 overflow-hidden rounded-2xl bg-[url('/images/charte-bg.svg')] bg-cover bg-center bg-no-repeat"
                      ></div>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
