<div class="relative w-full bg-white py-16">
  <div class="container">
    <h2 class="title">{{ .title }}</h2>

    <!-- <div
      class="grid grid-cols[repeat(4, 1fr)] grid-rows-[(1fr 1fr)] first:grid-cols-[span 2] first:grid-row-[span 2]"
    > -->
    <div class="my-10 grid grid-cols-3 gap-7">
      {{ range first 1 .content.news }}
      <div class="row-span-2 overflow-hidden rounded-lg border-2 border-green">
        {{ $image := resources.Get .image }} {{ with $image }}
        <img
          src="{{ $image.RelPermalink }}"
          alt=""
          class="h-[28.125rem] w-auto object-cover"
        />
        {{ end }}
        <div class="px-6 py-5">
          <h3 class="mb-5 text-heading1 font-bold leading-tight text-blue-200">
            {{ .title_news }}
          </h3>
          <p class="mb-8 text-heading4">{{ .description }}</p>
          <a href="{{ .link }}" class="btn-secondary">{{ .btn }}</a>
        </div>
      </div>
      {{ end }} {{ range last 4 .content.news }}
      <div class="overflow-hidden rounded-lg border-2 border-green">
        {{ $image := resources.Get .image }} {{ with $image }}
        <img
          src="{{ $image.RelPermalink }}"
          alt=""
          class="h-48 w-full object-cover"
        />
        {{ end }}
        <div class="px-5 py-4">
          <h3 class="mb-2 text-heading3 font-bold leading-tight text-blue-200">
            {{ .title_news }}
          </h3>
          <p class="mb-2 text-body-small">{{ .description }}</p>
          <a href="{{ .link }}" class="btn-secondary">{{ .btn }}</a>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="flex items-center justify-center">
      <a
        href="{{ .link }}"
        class="btn-primary inline-block rounded-md border-2 border-green px-8 py-3 text-heading3 text-green"
      >
        {{ .btn }}
      </a>
    </div>
  </div>
</div>
