{{ define "main" }}
  <div class="container pt-20 md:pt-36">
    <h1 class="mb-3 mt-5 text-heading2 font-bold text-purple-200">
      Press Centre |
      <span class="font-normal text-primary">{{ safeHTML .Page.Title }}</span>
    </h1>
    <h3 class="text-body-medium text-[#8E8E8E]">
      {{ .Page.Date.Format "01/02/2006" }}
    </h3>
    <div
      class="relative my-7 flex h-96 w-full items-center overflow-hidden rounded-t-lg"
    >
      {{ $image := resources.Get .Params.image }}
      {{ with $image }}
        <img
          src="{{ $image.RelPermalink }}"
          width="{{ $image.Width }}"
          height="{{ $image.Height }}"
          class="absolute h-full w-full object-cover"
        />
      {{ end }}
      <div
        class="absolute left-0 top-0 h-full w-full bg-gradient-to-r from-transparent to-purple-200 opacity-70"
      ></div>
      <h4
        class="green relative mx-14 w-full text-heading1 font-bold leading-tight text-white shadow-[0px_3px_12px_-10px_rgba(131,83,242,0.1)] md:w-1/2 md:text-heading"
      >
        {{ safeHTML .Page.Title }}
      </h4>
    </div>
    <div class="flex flex-col items-start justify-between md:flex-row">
      <div class="w-full md:w-2/3">
        <div class="content my-2 mr-10 text-heading4 md:text-body-medium">
          {{ safeHTML .Content }}
        </div>
        <div
          class="mr-10 flex flex-col items-center justify-between py-20 md:flex-row"
        >
          <p class="mb-5 text-heading4 md:mb-0 md:text-body-medium">
            For more information, get in touch with us
          </p>
          <div class="flex items-center gap-5">
            <div class="h-28 w-28 overflow-hidden rounded-full">
              {{ $imageAuthor := resources.Get .Params.image_author }}
              {{ with $imageAuthor }}
                <img
                  src="{{ $imageAuthor.RelPermalink }}"
                  width="{{ $imageAuthor.Width }}"
                  height="{{ $imageAuthor.Height }}"
                  class="h-full w-full object-cover"
                />
              {{ end }}
            </div>
            <div class="">
              <h6 class="mb-2 text-heading2 font-bold text-[#073B4C]">
                {{ .Params.author }}
              </h6>
              <p class="text-body-small text-[#575757]">
                {{ .Params.position }}
              </p>
              <p class="text-body-small text-[#575757]">
                <a href="mailto:{{ .Params.email }}">
                  {{ .Params.email }}
                </a>
              </p>
              <p class="text-body-small text-[#575757]">
                {{ .Params.email2 }}
              </p>
              <p class="text-body-small text-[#575757]">
                {{ .Params.phone }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5 mt-20 w-full md:mt-0 md:w-4/12">
        <h4 class="mb-2 text-heading2 font-bold text-blue-200">
          Similar Items
        </h4>
        <div class="flex flex-col gap-5">
          {{ $pageId := .Params.Id }}
          <!-- {{ $similar := where (where .Site.Pages "Type" "posts") "Params.id" "ne" $pageId }} -->
          {{ $similar := where .Site.Pages "Type" "blog" }}
          {{ $similar = where $similar "Params.id" "ne" $pageId }}

          {{ range last 3 $similar }}
            <div
              class="flex h-full flex-col items-center overflow-hidden rounded-lg border-2 border-green"
            >
              <div class="flex w-full flex-col">
                <div class="h-60 w-full md:h-40">
                  {{ $image := resources.Get .Params.image }}
                  {{ with $image }}
                    <img
                      src="{{ $image.RelPermalink }}"
                      width="{{ $image.Width }}"
                      height="{{ $image.Height }}"
                      class="h-full w-full object-cover"
                    />
                  {{ end }}
                </div>
                <div class="flex w-full flex-col gap-2 p-4">
                  <h3
                    class="text-heading2 font-bold leading-tight text-blue-200 md:text-heading4"
                  >
                    {{ safeHTML .Title | truncate 40 }}
                  </h3>
                  <div class="text-heading4 font-light md:text-body-small">
                    {{ .Content | truncate 55 }}
                  </div>
                </div>
                <div class="flex justify-between px-4">
                  <a
                    href="{{ .Permalink }}"
                    class="btn-secondary text-heading4 text-green md:text-body-small"
                  >
                    And many more
                  </a>
                  <p class="mb-5 text-heading4 opacity-50 md:text-body-small">
                    {{ .Date.Format "01/02/2006" }}
                  </p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
