{{ if .Params.js }}
  <script src="{{ .Params.js }}"></script>
{{ end }}
{{ if .Params.js3 }}
  <script src="{{ .Params.js3 }}"></script>
{{ end }}
{{ if .Params.js4 }}
  <script src="{{ .Params.js4 }}"></script>
{{ end }}
{{ if .Params.js5 }}
  <script src="{{ .Params.js5 }}"></script>
{{ end }}
{{ if .Params.js6 }}
  <script src="{{ .Params.js6 }}"></script>
{{ end }}
{{ if .Params.js22 }}
  {{ $js22 := resources.Get .Params.js22 }}
  {{ with $js22 }}
    <script src="{{ $js22.RelPermalink }}"></script>
  {{ end }}
{{ end }}
{{ if .Params.js2 }}
  {{ $js2 := resources.Get .Params.js2 }}
  {{ with $js2 }}
    <script src="{{ $js2.RelPermalink }}"></script>
  {{ end }}
{{ end }}

{{ $nav := resources.Get "js/nav.js" }}
{{ with $nav }}
  <script src="{{ $nav.RelPermalink }}"></script>
{{ end }}
