<div class="container py-10">
  <div class="w-full">
    <div class="h-72 w-full overflow-hidden">
      {{ $image := resources.Get .image }}
      {{ with $image }}
        <img
          src="{{ $image.RelPermalink }}"
          width="{{ $image.Width }}"
          height="{{ $image.Height }}"
          class="w-full rounded-t-lg object-cover"
        />
      {{ end }}
    </div>
    <div class="relative z-10 mx-auto -mt-32 w-4/5 bg-white p-10">
      <h2 class="big-title mb-14">{{ safeHTML .title }}</h2>
      <p class="text-heading3">{{ safeHTML .text }}</p>
    </div>
  </div>
</div>
