<div class="">
  <div class="relative">
    <div class="absolute left-0 h-full w-1/2 bg-purple-100"></div>
    <div class="absolute right-0 h-full w-1/2 bg-blue-200"></div>
    <div class="container relative z-10 flex items-center">
      <div class="w-1/2">
        <h3 class="big-title mb-14 mr-10">{{ safeHTML .title }}</h3>
        <p class="mr-10">{{ safeHTML .text }}</p>
      </div>
      <div class="w-1/2">
        {{ $image := resources.Get .image }}
        {{ with $image }}
          <img
            src="{{ $image.RelPermalink }}"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}"
            class="w-full object-cover lg:min-h-[400px]"
          />
        {{ end }}
      </div>
    </div>
  </div>
  <div class="relative">
    <div class="absolute left-0 h-full w-1/2 bg-purple-100"></div>
    <div class="absolute right-0 h-full w-1/2 bg-blue-200"></div>
    <div class="container relative z-10 flex flex-row-reverse items-center">
      <div class="w-1/2">
        <h3 class="big-title mb-14 ml-10 leading-tight text-white">
          {{ safeHTML .title2 }}
        </h3>
        <p class="ml-10 text-white">{{ safeHTML .text2 }}</p>
      </div>
      <div class="w-1/2">
        {{ $image2 := resources.Get .image2 }}
        {{ with $image2 }}
          <img
            src="{{ $image2.RelPermalink }}"
            width="{{ $image2.Width }}"
            height="{{ $image2.Height }}"
            class="w-full object-cover lg:min-h-[400px]"
          />
        {{ end }}
      </div>
    </div>
  </div>
</div>
