<div class="container py-5 pb-20 md:py-10">
  <div class="flex flex-col justify-between md:flex-row">
    <div class="w-full md:w-1/2">
      <div class="flex flex-col gap-5">
        <div class="w-full">
          {{ $image := resources.Get .image }}
          {{ with $image }}
            <img
              src="{{ $image.RelPermalink }}"
              width="{{ $image.Width }}"
              height="{{ $image.Height }}"
              class=" overflow-hidden rounded-t-lg object-cover"
            />
          {{ end }}
        </div>
        <h3 class="text-heading1 font-bold text-green">{{ .title_tags }}</h3>
        <div class="flex flex-wrap justify-between">
          {{ range .content.tags }}
            <div
              class="flex w-[48%] items-center gap-2 border-b-[1px] border-[#515E8128] py-2 transition-all hover:gap-4"
            >
              <div class="first:fill-green">
                {{ partial "icons/bullet.html" }}
              </div>
              <p class="text-heading4 md:text-heading3">
                {{ .tag }}
              </p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="mt-10 flex w-full flex-col gap-3 md:mt-0 md:w-[45%]">
      <h1 class="big-title mb-10 leading-tight">{{ safeHTML .title }}</h1>
      <p class="mb-7 text-heading2">{{ .subtitle }}</p>
      <p class="text-heading3 font-light opacity-80">{{ .text }}</p>
    </div>
  </div>
</div>
