{{ define "main" }}
  {{ with .Site.Data.home.hero }}
    {{ partial "sections/home/hero.html" . }}
  {{ end }}
  {{ with .Site.Data.home.telecom }}
    {{ partial "sections/home/telecom.html" . }}
  {{ end }}
  {{ with .Site.Data.home.outsourcing }}
    {{ partial "sections/home/outsourcing.html" . }}
  {{ end }}
  {{ with .Site.Data.home.innovation }}
    {{ partial "sections/home/innovation.html" . }}
  {{ end }}
  {{ with .Site.Data.home.partnerships }}
    {{ partial "sections/home/partnerships.html" . }}
  {{ end }}
  <div class="relative w-full bg-white py-16">
    <div class="container">
      <h2 class="title">Press Centre</h2>
      <div class="my-10 hidden grid-cols-3 gap-7 md:grid">
        {{ range first 1 .Site.RegularPages }}
          <div
            class="row-span-2 overflow-hidden rounded-lg border-2 border-green"
          >
            {{ $image := resources.Get .Params.image }}
            {{ with $image }}
              <img
                src="{{ $image.RelPermalink }}"
                alt=""
                class="h-[28.125rem] w-auto object-cover"
              />
            {{ end }}
            <div class="px-6 py-5">
              <h3
                class="mb-5 text-heading1 font-bold leading-tight text-blue-200"
              >
                {{ safeHTML .Title | truncate 40 }}
              </h3>
              <div class="mb-8 text-heading4 font-light">
                {{ .Content | truncate 55 }}
              </div>
              <a href="" class="btn-secondary">And many more</a>
            </div>
          </div>
        {{ end }}
        {{ $pageId := .Params.Id }}
        {{ $similar := where .Site.Pages "Type" "blog" }}
        {{ $similar = where $similar "Params.id" "ne" $pageId }}

        {{ range last 4 $similar }}
          <div class="overflow-hidden rounded-lg border-2 border-green">
            {{ $image := resources.Get .Params.image }}
            {{ with $image }}
              <img
                src="{{ $image.RelPermalink }}"
                alt=""
                class="h-48 w-full object-cover"
              />
            {{ end }}
            <div class="px-5 py-4">
              <h3
                class="mb-2 text-heading3 font-bold leading-tight text-blue-200"
              >
                {{ safeHTML .Title | truncate 40 }}
              </h3>
              <div class="mb-2 text-body-small font-light">
                {{ .Content | truncate 55 }}
              </div>
              <a href="" class="btn-secondary">And many more</a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ with .Site.Data.home.careers }}
    {{ partial "sections/careers.html" . }}
  {{ end }}
{{ end }}
