{{define "main"}} {{ with .Site.Data.home.hero }}{{ partial "sections/hero.html"
. }}{{ end }} {{ with .Site.Data.home.telecom }}{{ partial
"sections/telecom.html" . }}{{ end }} {{ with .Site.Data.home.outsourcing }}{{
partial "sections/outsourcing.html" . }}{{ end }} {{ with
.Site.Data.home.innovation }}{{ partial "sections/innovation.html" . }}{{ end }}
{{ with .Site.Data.home.partnerships }}{{ partial "sections/partnerships.html" .
}}{{ end }} {{ with .Site.Data.home.blog }}{{ partial "sections/blog.html" .
}}{{ end }} {{ with .Site.Data.home.careers }}{{ partial "sections/careers.html"
. }}{{ end }} {{end}}
