@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "itc-avant-garde";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/itcavantgardestd-md-webfont.woff) format("woff");
}

@font-face {
  font-family: "itc-avant-garde";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/itcavantgardestd-demi-webfont.woff) format("woff");
}

@font-face {
  font-family: "itc-avant-garde";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/itcavantgardestd-bold-webfont.woff) format("woff");
}

@layer base {
  body,
  html {
    @apply font-itc text-[12px] text-primary md:text-[14px] lg:text-[16px];
  }
}

@layer components {
  .btn-primary {
    @apply inline-block rounded-md border-2 border-green px-8 py-3 text-center text-heading4 font-bold text-green lg:text-heading3;
  }
  .btn-secondary {
    @apply flex gap-3 text-heading4 font-bold text-green transition-all after:text-blue-200 after:content-['\2192'] hover:gap-4;
  }
  .title {
    @apply mb-5 block text-left text-heading font-bold text-purple-200 lg:text-center;
  }
  .title b {
    @apply text-blue-200;
  }
  .subtitle {
    @apply mx-auto mb-5 w-full text-start text-heading3 lg:w-1/2 lg:text-center;
  }
  .big-title {
    @apply relative text-heading font-bold text-blue-200 after:absolute after:-bottom-4 after:left-5 after:h-2 after:w-24 after:bg-green after:content-[''];
  }
  .big-title b {
    @apply text-purple-200;
  }
  .green b {
    @apply text-green;
  }
  .caption {
    @apply absolute bottom-10 left-10 text-heading text-white drop-shadow-[0_2px_3px_rgba(25,36,66,1)];
  }
  .caption b {
    @apply text-green;
  }
}

.missing b {
  @apply font-normal text-purple-200;
}

.tab-selected {
  @apply border-green font-bold text-blue-200;
}
.tab-selectedVertical {
  @apply opacity-100;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply absolute bottom-4 end-[154px] left-auto w-fit lg:bottom-9;
}
.swiper-pagination-bullet {
  @apply h-4 w-4 bg-blue-200 opacity-10;
}
.swiper-pagination-bullet-active {
  @apply bg-purple-200 opacity-100;
}

.swiper-button-next2,
.swiper-button-prev2 {
  @apply absolute bottom-0 end-1 z-20 bg-purple-200 fill-white p-4 shadow-lg after:content-none lg:bottom-5 lg:p-5;
}
.swiper-button-prev2 {
  @apply end-[52px] lg:end-[64px];
}
.swiper2 .swiper-button-disabled,
.swiper-blog .swiper-button-disabled {
  @apply bg-white fill-[#1924420E];
}

.swiper4 .swiper-button-disabled svg {
  @apply opacity-20 grayscale;
}
.swiper4 .swiper-button-disabled {
  @apply bg-white;
}

.platforms .swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply absolute bottom-0 right-[140px] w-fit lg:bottom-5;
}
.platforms .swiper-pagination-bullet {
  @apply h-4 w-4 bg-purple-100 opacity-100;
}
.platforms .swiper-pagination-bullet-active {
  @apply bg-green opacity-100;
}

.platforms .swiper-button-next2,
.platforms .swiper-button-prev2 {
  @apply absolute -right-[50px] bottom-0 z-20 bg-purple-200 fill-white p-4 shadow-lg after:content-none  lg:p-5;
}
.platforms .swiper-button-prev2 {
  @apply right-[15px];
}
.platforms .swiper-button-disabled {
  @apply bg-white fill-[#1924420E];
}

.swiper5 .swiper-slide,
.swiper6 .swiper-slide,
.swiper7 .swiper-slide {
  height: initial;
}

.hidden-element {
  @apply hidden;
}

.flex-element {
  @apply flex;
}

.selectedBtn {
  @apply rounded-lg border-2 border-solid border-purple-200 bg-purple-200 text-white;
}
