<div class="container py-10 pb-20">
  <h2 class="title">{{ .title }}</h2>
  <p class="subtitle w-full md:w-2/3 ">{{ .subtitle }}</p>
  <div
    class="main-content flex flex-col-reverse items-stretch justify-between md:flex-row"
  >
    <div class="scroll-trigger my-10 flex w-full flex-col md:w-6/12">
      {{ range .content.blocks }}
        <div class="group relative mb-14 w-full">
          <div
            class="right-0 flex w-11/12 -translate-y-3 translate-x-7 flex-col items-start rounded-2xl border border-[#F5F5F8] bg-white px-8 py-10 shadow-[12px_13px_20px_-20px_rgba(25,36,66,0.2)] shadow-blue-200 transition-all hover:border-[#DFD3FC] group-hover:-translate-y-5 group-hover:translate-x-4 md:translate-x-11 md:group-hover:translate-x-8"
          >
            <div class="mb-5 flex items-center gap-5">
              <div
                class="flex items-center justify-center rounded-full bg-[#F2F5FD] p-3 transition-all first:fill-[#515e81] group-hover:bg-[#F9F6FE] group-hover:first:fill-purple-200"
              >
                {{ with .icon }}{{ partial . }}{{ end }}
              </div>
              <h3 class="text-heading2 font-bold text-blue-200">
                {{ .title_section }}
              </h3>
            </div>
            <p class="mb-7 text-body-medium font-light opacity-80">
              {{ .text }}
            </p>
          </div>
          <div
            class="absolute right-0 top-0 -z-10 h-full w-11/12 overflow-hidden rounded-2xl bg-[url('/images/charte-bg-grey.svg')] bg-cover bg-center bg-no-repeat group-hover:bg-[url('/images/charte-bg-purple.svg')]"
          ></div>
        </div>
      {{ end }}
    </div>
    <div class="stick relative hidden w-5/12 md:block">
      <div class="sidebar__inner relative flex flex-col items-center">
        {{ range .content.blocks }}
          <div class="absolute right-0 top-0 w-fit" data-slide="{{ .key }}">
            {{ $image := resources.Get .image }}
            {{ with $image }}
              <img
                src="{{ $image.RelPermalink }}"
                width="{{ $image.Width }}"
                height="{{ $image.Height }}"
                class="min-h-[560px] overflow-hidden rounded-2xl object-cover shadow-[9px_14px_15px_-10px_rgba(25,36,66,0.3)] shadow-blue-200"
                alt=""
              />
            {{ end }}
            <div
              class="absolute left-0 top-0 h-full w-full rounded-2xl bg-gradient-to-br from-transparent to-purple-200"
            >
              <h4 class="caption">{{ safeHTML .caption }}</h4>
            </div>
            <div
              class="absolute right-0 top-0 -z-10 h-full w-full translate-x-6 translate-y-6 overflow-hidden rounded-2xl bg-[url('/images/charte-bg.svg')] bg-cover bg-center bg-no-repeat"
            ></div>
          </div>
        {{ end }}
        <div class="absolute top-[610px]">
          <a
            href="#"
            class="btn-primary border-blue-200 text-blue-200 hover:bg-blue-200"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
