<div class="container py-10 pb-20">
  <h2 class="title">{{ .title }}</h2>
  <p class="subtitle">{{ .subtitle }}</p>
  <div class="flex justify-between">
    <div class="my-10 flex w-6/12 flex-col">
      {{ range .content.blocks }}
        <div class="group relative mb-20 w-full">
          <div
            class="flex w-11/12 -translate-y-3 translate-x-11 flex-col items-start rounded-2xl border border-[#F5F5F8] bg-white px-8 py-10 shadow-[12px_13px_20px_-20px_rgba(25,36,66,0.2)] shadow-blue-200 transition-all hover:border-[#DFD3FC] group-hover:-translate-y-5 group-hover:translate-x-8"
          >
            <div class="mb-5 flex items-center gap-5">
              <div
                class="flex items-center justify-center rounded-full bg-[#F2F5FD] p-3 transition-all first:fill-[#515e81] group-hover:bg-[#F9F6FE] group-hover:first:fill-purple-200"
              >
                {{ with .icon }}{{ partial . }}{{ end }}
              </div>
              <h3 class="text-heading2 font-bold text-blue-200">
                {{ .title_section }}
              </h3>
            </div>
            <p class="mb-7 text-body-medium font-light opacity-80">
              {{ .text }}
            </p>
          </div>
          <div
            class="absolute right-0 top-0 -z-10 h-full w-11/12 overflow-hidden rounded-2xl bg-[url('/images/charte-bg-grey.svg')] bg-cover bg-center bg-no-repeat group-hover:bg-[url('/images/charte-bg-purple.svg')]"
          ></div>
        </div>
      {{ end }}
    </div>
    <div class="relative flex w-5/12 justify-center">
      {{ range .content.blocks }}
        <div class="absolute right-0 top-0 w-fit">
          {{ $image := resources.Get .image }}
          {{ with $image }}
            <img
              src="{{ $image.RelPermalink }}"
              width="{{ $image.Width }}"
              height="{{ $image.Height }}"
              class="overflow-hidden rounded-2xl object-cover shadow-[9px_14px_15px_-10px_rgba(25,36,66,0.3)] shadow-blue-200"
            />
          {{ end }}
          <div
            class="absolute left-0 top-0 h-full w-full rounded-2xl bg-gradient-to-br from-transparent to-purple-200"
          >
            <h4 class="caption">{{ safeHTML .caption }}</h4>
          </div>
          <div
            class="absolute right-0 top-0 -z-10 h-full w-full translate-x-6 translate-y-6 overflow-hidden rounded-2xl bg-[url('/images/charte-bg.svg')] bg-cover bg-center bg-no-repeat"
          ></div>
        </div>
      {{ end }}
      <div class="absolute bottom-0">
        <a
          href="#"
          class="btn-primary border-blue-200 text-blue-200 hover:bg-blue-200"
        >
          Download PDF
        </a>
      </div>
    </div>
  </div>
</div>
